<h4>Score</h4>
{{model.score}}

<h4>Your feedback has been recorded. Thanks! </h4>

<h4>Comment: {{commentText}}</h4>

{{textarea value=commentText}}

<button {{action 'saveComment'}} class='btn-primary'>Submit Comment</button>

{{outlet}}